.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#logo {
  /* position: fixed;
  top: 80px;
  left: 70px;
  width: 270px;
  height: 270px;
  transition: all 0.4s;
  z-index: 1; */
  /* position: absolute;
  top: 3rem;
  left: 3rem;
  width: 13rem;
  height: 13rem; */
  /* transition: all 0.4s; */
  /* z-index: 2; */
}
#logo.hide {
  opacity: 0;
  visibility: hidden;
}

#logo img {
  width: 100%;
  height: 100%;
}
/* .scrolled #logo, */
.menuOpen #logo {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 4rem;
  left: 5rem;
  width: 7rem;
  height: 7rem;
  transition: opacity 0.4s;
}